.link {
  margin-left: 1rem;
}

.image {
  margin: auto;
  display: block;
  margin-bottom: 1rem;
}

.main-container {
  display: flex;
  justify-content: center;
}

.left-container {
  margin-right: 12rem;
  text-align: left;
}

.number-container {
  border-left: 3px solid red;
}

.test {
  margin-left: 3rem;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

span {
  color: red;
}

.small{
  color:black;
  font-size: 1rem;
}
